
$icon-font-path: '../fonts/';
@import "_variables";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    border-bottom: 1px solid #e5e5e5;
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.info{
    display:table; margin:0 auto; padding: 0 0;
    span{
        display:table-cell; padding: 0 10px
    }
}

.element{
    margin-top: 0.5em;
    border: 1px solid #eee;
    padding: 0 0 0 22px;
    border-radius: 9px;

    .stats{
        padding: 0 5px;
    }
}

.btn-group-vertical{
    margin-left: 14.5px;

    > .btn{
        padding: 5px 10px;
        border: none;
    }

    > .btn:first-child:not(:last-child) {
        padding-top: 6px;
        border-top-right-radius: 8px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

     > .btn:last-child:not(:first-child) {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 0;
    }
}

.border-success{
  border: 1px solid $brand-success;
}
.border-primary{
  border: 1px solid $brand-primary;
}
.border-danger{
  border: 1px solid $brand-danger;
}
.border-warning{
  border: 1px solid $brand-warning;
}
.border-info{
  border: 1px solid $brand-info;
}



.slide-transition {
    max-height: 9999px;
    overflow-y: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.slide-enter,
.slide-leave {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    max-height: 0;
    opacity: 0;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
        margin-top: 2em;
        padding-top: 2em - $line-height-base/2;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 2em;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
