<!doctype html>
<html class="no-js" lang="" id="body">

<head>

    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>AriaApp  {{ globalStats.downloadSpeed == undefined ? '--'  :  byteCount(globalStats.downloadSpeed, 1024)  }} {{ globalStats.uploadSpeed == undefined ? '--' : byteCount(globalStats.uploadSpeed, 1024 ) }}</title>

    <link rel="stylesheet" href="styles/main.css">

    <script src="scripts/vendor/modernizr.js"></script>

    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="favicons/manifest.json">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#91dc5a">
    <link rel="shortcut icon" href="favicons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="AriaApp">
    <meta name="application-name" content="AriaApp">
    <meta name="msapplication-TileColor" content="#353535">
    <meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
    <meta name="msapplication-config" content="favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

</head>

<body >
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
        <div class="">
            <div id="alertspace"></div>
            <div class="row">
                <div class="page-header">
                    <ul class="nav nav-pills pull-right">
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Remove all completed" v-on:click.stop.prevent="aria2.purgeDownloadResult(callback)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pause all" v-on:click.stop.prevent="aria2.pauseAll(callback)">
                                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Play all" v-on:click.stop.prevent="aria2.unpauseAll(callback)">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li :class="{'active': toggle}">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Toggle settings" v-on:click.stop.prevent="toggle = !toggle">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                    <h3 class="text-muted">AriaApp</h3>
                </div>
                <div class="info">
                    <span class="text-success small">down: {{ globalStats.downloadSpeed == undefined ? '--'  :  byteCount(globalStats.downloadSpeed, 1024)  }}</span>
                    <span class="text-danger small">up: {{ globalStats.uploadSpeed == undefined ? '--' : byteCount(globalStats.uploadSpeed, 1024 ) }}</span>
                    <span class="text-info small"> active: {{ globalStats.numActive }}</span>
                    <span class="text-info small"> stopped: {{ globalStats.numStopped }}</span>
                    <span class="text-info small"> waiting: {{ globalStats.numWaiting }}</span>
                </div>
                <hr>
            </div>

            <div class="row">
                <div class="form-group" style="margin-bottom: 2em">
                    <div class="input-group">
                        <input v-model="urlfield" type="text" v-on:keyup.enter="downloadAll" class="form-control" id="" :placeholder="toggle ? 'Search an option..' : 'Downlad something...' ">
                        <input id="fileupload" type="file" style="display:none" v-on:change="onFileChange">
                        <span class="input-group-btn">
                        <button type="file" class="btn btn-default" onclick="$('#fileupload').click();" type="button">Upload torrent!</button>
                    </span>
                    </div>
                </div>
            </div>

            <div class=row v-if="toggle" transition="slide">
                <legend>Connection settings</legend>
                <div class="form-group" v-for="(key, op) in settings">
                    <label for="{{key}}Id">{{ key.split('-').join(' ') }}</label>
                    <input v-model="settings[key]" type="text" class="form-control" id="{{key}}Id" placeholder="Input field" :value="op">
                </div>
                <button type="submit" class="btn btn-primary" v-on:click.stop.prevent="relaodAria">Save</button>
                <legend style="padding-top: 1.4em;">Settings</legend>
                <div class="form-group" v-for="(key, op) in options | filterBy urlfield | orderBy 'key'">
                    <label for="{{key}}Id">{{ key.split('-').join(' ') }}</label>
                    <input v-model="options[key]" type="text" class="form-control" id="{{key}}Id" placeholder="Input field" :value="op">
                </div>
                <button type="submit" class="btn btn-primary" v-on:click.stop.prevent="aria2.changeGlobalOption(options,optCallback)">Save</button>
            </div>

            <div class="row" v-else>
                <div v-for="d in all | orderBy 'status'"  transition="item" class="element border-{{ classByStatus(d) }}">
                    <div class=row>
                        <div class="col-xs-10 col-md-11">

                            <h4 style="overflow:auto;text-overflow:ellipsis;">
                                <template v-if="d.hasOwnProperty('bittorrent') &&  d.bittorrent.hasOwnProperty('info')">{{ d.bittorrent.info.name }}</template>
                                <template v-else>{{ (d.files[0].path.split('/'))[d.files[0].path.split('/').length - 1] }}</template>
                            </h4>
                            

                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-{{ classByStatus(d) }}" role="progressbar" :aria-valuenow="(d.totalLength == 0 ) ? 100 : d.completedLength" aria-valuemin="0" :aria-valuemax="(d.totalLength == 0 ) ? 100 : d.totalLength" :style="{ width: ((d.totalLength == 0 ) ? 100 : d.completedLength / d.totalLength * 100) +'%'}">
                                    <strong>
                                        <span class="{{ d.completedLength  > 1 ? '' : 'text-muted' }}">
                                            {{ ((d.totalLength == 0 ) ? '' : ' ' + (d.completedLength / d.totalLength * 100).toFixed(1) + '% ') + d.status}}
                                        </span>
                                    </strong>
                                </div>
                            </div>

                            <span class="stats text-info"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> {{ d.connections }}</span>
                            <span class="stats text-success"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> {{ byteCount(d.downloadSpeed, 1024) }}/s</span>
                            <span class="stats text-danger"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> {{ byteCount(d.uploadSpeed, 1024) }}/s</span>
                            <span class="stats text-info"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ byteCount(d.completedLength, 1024) }}/{{ byteCount(d.totalLength, 1024) }}</span>

                        </div>
                        <div class="btn-group-vertical" role="group">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="bottom" title="Remove Completed" v-on:click.stop.prevent="aria2.removeDownloadResult(d.gid, callback);">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="bottom" title="Remove" v-on:click.stop.prevent="aria2.remove(d.gid, callback);">
                                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Pause" v-on:click.stop.prevent="aria2.pause(d.gid, callback );">
                                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="bottom" title="Play" v-on:click.stop.prevent="aria2.unpause(d.gid, callback);">
                                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <pre v-if="urlfield == 'debug'">{{ $data | json }}</pre>

            <div class="row footer">
                <p>Status:
                    <span class="text-success" v-if="connected">connected</span>
                    <span class="text-danger" v-else>not connected</span>
                    on {{ settings.host }}
                </p>
            </div>
        </div>
    </div>

    <script src="scripts/vendor.js"></script>

    <script src="scripts/plugins.js"></script>

    <script src="scripts/main.js"></script>

</body>

</html>
